*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(165, 42, 42, 0.2);
}

nav{
    height: 300px;
    background: url(https://plus.unsplash.com/premium_photo-1675237625862-d982e7f44696?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
}
input{
    position: sticky;
    height: 60px;
    width: 75%;
    background-color: rgb(102, 25, 25);
    color: white;
    border-radius: 10px;
    padding: 10px;
    top: 60px;
    left: 15%;
    border: none;
}

.coffee-menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 60px;
}

.coffee{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.coffee img{
    border-radius: 50%;
    box-shadow: 0  5px 6px black;
    transition: transform .2s;
}

.coffee img:hover{
    transform: scale(1.1);
    box-shadow: 0  8px 8px black;
}

.coffee h3{
    margin-top: 20px;
}

.info{
    width: 90%;
    margin: 60px;
    padding: 30px;
    background-color: rgba(165, 42, 42, 0.3);
    color: brown;
    border-radius: 14px;
}

li{
    padding: 10px;
}