*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    margin-top: 15rem;
    align-items: center;
    background-color: rgb(29, 29, 29);
    width: 100vw;
    height: 100vh;
    font-family: 'Orbitron', sans-serif;
}

.watch-container{
    width: 50%;
    height: 30vh;
    background-color: rgb(61, 61, 61);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.watch-container span{
    font-size: 5rem;
    margin: 0.2rem;
}

.timer-display{
    font-size: 4rem;
    margin: 0.2rem;
    width: 70%;
}

.buttons{
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
    width: 80%;
}

button{
    padding: 1rem 2rem;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 0.2ch;
    transition: all ease-in-out 0.2s;
    border: none;
}

button:hover{
    background-color: rgb(122, 120, 120);
    color: white;
}


.lap-container{
    width: 40%;
    margin-top: 2rem;
    background-color: rgb(61, 61, 61);
    color: white;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    border-radius: 10px;
}

thead tr{
    background-color: #ddd;
}
th {
    padding: 10px;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
    color: black;
    
}

tbody tr {
    border-bottom: 1px solid #ddd;
}

td{
    padding: 10px;
}

.hide{
    display: none;
}

@media (min-width: 1445px) {
    .timer-display{
        width: 50%;
    }
}

@media (max-width: 1024px) {
    .watch-container{
        width: 70%;
    }
    .lap-container{
        width: 50%;
    }

}


@media (max-width: 768px) {
    .watch-container, .lap-container{
        width: 80%;
    }
    .timer-display{
        font-size: 3rem;
        width: 60%;
    }
    button{
        padding: 1rem;
    }
}

@media(max-width: 425px){
    .watch-container, .lap-container{
        width: 90%;
    }
    .timer-display{
        font-size: 2rem;
        width: 60%;
    }
    button{
        padding: 0.8rem;
    }
}